[Unit]
Description=Camera Daemonis
After=network.target

[Service]
ExecStart=/usr/bin/python -u camera_daemonis.py
WorkingDirectory=/home/pi/dvorce/2021/CameraNormalis/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target