[Unit]
Description=Camera Daemonis Restarter
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart camera-daemonis

[Install]
WantedBy=multi-user.target